<h1> Please enter your message </h1>
<% if flash[:error] -%>
 	<%= flash[:error] %>
<% end -%>
<p>
<%= form_for @message do |f| %>

  <%= f.label :message %> <br>
  <%= f.text_area :message, placeholder: 'Please enter your message' %> <br>
  <%= f.label :telephone %> <br>
  <%= f.text_field :telephone, placeholder: 'Please enter your telephone number' %><br>
  <p>
  <%= f.submit 'Submit form'%>
<% end %>
